.animacja-kontener
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto 
{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    transition: 15s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
}

/* strona startowa */
.start-foto
{
    background-image: url(../graphic/start-tlo.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
}

.animacja-dane 
{
    margin-top: -64px!important;
}

.logo-tlo
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.logo img 
{
    max-height: 320px;
}

.logo 
{
    transition: 0.3s;
}

.logo:hover
{
    opacity: 0.6;
}

/* scroll icon */

.icon-scroll,
.icon-scroll:before{
  position: absolute;
  left: 50%;
}
.icon-scroll{
  width: 20px;
  height: 36px;
  margin-left: -10px;
  bottom: 64px;
  margin-top: -35px;
  box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.808);
  border-radius: 25px;
}
.icon-scroll:before{
  content: '';
  width: 6px;
  height: 6px;
  background: black;
  margin-left: -3px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}
@keyframes scroll{
  0%
  {
    opacity: 1;
  }
  100%
  {
    opacity: 0;
    transform: translateY(16px);
  }
}

/* podstrona */

.logo-podstrona
{
  width: max-content;
}

.logo-podstrona img 
{
  max-height: 100px;
  margin-top: 24px;
}

/* kosmetyka */

.kosmetyka-foto
{
  background: url(../graphic/kosmetyka.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

/* medycyna */

.medycyna-foto
{
  background: url(../graphic/estetyczna.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

/* cennik */

.cennik-foto
{
  
}

/* Kontakt */

.kontakt-foto
{
  background: url(../graphic/kontakt.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}