
.h3-galeria
{
    margin-bottom: 32px;
}

/* zdjęcia */


/* main foto */
.galeria-tlo
{
    display: flex;
    flex-wrap: nowrap;
    gap: 0 16px;
    position: relative;
}

.galeria-main
{
    width: 100%;
    max-width: 800px;
    height: 740px;
}

.galeria-main .galeria-foto-tlo 
{
    height: 740px;
}

.galeria-main .galeria-foto-tlo img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.3em;
}

/* foto */
.galeria
{
    width: 100%;
    max-height: 740px;
    position: relative;
}

.galeria .galeria-foto-tlo 
{
    height: 234px;
    margin-bottom: 16px;
}

.galeria .galeria-foto-tlo img 
{
    width: 100%;
    height: 234px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.3em;
}

.galeria-foto-tlo 
{
    -webkit-box-shadow: 0px 14px 34px -6px rgba(215, 215, 215, 1);
    -moz-box-shadow: 0px 14px 34px -6px rgba(215, 215, 215, 1);
    box-shadow: 0px 0px 34px -6px rgba(215, 215, 215, 0.568);
    border-radius: 0.3em;
}

/* przyciski */

.slick-prev, .slick-next 
{
    position: absolute;
    top: 50%;
    z-index: 9;
}

.slick-prev
{
    left: -900px;
    background: transparent;
    border: 0px none transparent;
    color: transparent;
    cursor: pointer;
}

.slick-prev:before 
{
    content: url(../graphic/rotator-left.png);
    position: absolute;
    right: 0;
}

.slick-next 
{
    right: -60px;
    background: transparent;
    border: 0px none transparent;
    color: transparent;
    cursor: pointer;
}

.slick-next:before 
{
    content: url(../graphic/rotator-right.png);
    position: absolute;
    left: 0;
}

.slick-next:hover, .slick-prev:hover
{
    opacity: 0.6;
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;
    height: 750px!important;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-dots
{
    display: none!important;
}

/*Start/Pause*/
.rotator-buttons
{
	
}
.galeria-tlo:hover .rotator-pause,  .galeria-tlo:hover .rotator-play,.galeria-tlo:hover .rotator-buttons
{
	opacity:1!important;
}
.galeria-tlo .rotator-buttons .rotator-pause:focus,  .galeria-tlo .rotator-buttons .rotator-play:focus
{
	opacity:1!important;
}
.rotator-buttons
{
	width: 60px;
	height: 30px;
	
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	z-index: 9;
}

.galeria-tlo
{
	position: relative;

}

.rotator-pause 
{
	border: 0px none transparent;
	background: transparent;
	cursor: pointer;
	width: 100%;
	height: 100%;
	color: white;
	background: rgba(0, 0, 0, 0.637);
	opacity:0;
}
.rotator-pause:hover 
{
	opacity: 0.7;
}

.rotator-play
{
	border: 0px none transparent;
	background: transparent;
	cursor: pointer;
	width: 100%;
	height: 100%;
	display: none;
	color: white;
	background: rgba(0, 0, 0, 0.637);
	opacity:0;
}
.rotator-play:hover 
{
	opacity: 0.7;
}


/* Pełna galeria */

.galeria-lista-tlo
{
    background-image: url(../graphic/fotogaleria-icon.jpeg);
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.lista-galeria-tlo
{
    margin-top: 100px;
}

.galeria-foto
{
    background-image: url(../graphic/fotogaleria.jpeg);
}

.lista-galeria
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px 32px;
}

.lista-galeria li 
{
    width: 100%;
    height: 100%;
    max-width: 380px;
    max-height: 380px;
    -webkit-box-shadow: 0px 14px 34px -6px rgba(215, 215, 215, 1);
    -moz-box-shadow: 0px 14px 34px -6px rgba(215, 215, 215, 1);
    box-shadow: 0px 0px 34px -6px rgba(215, 215, 215, 0.568);
    border-radius: 0.6em;
}

.lista-galeria li a 
{
    display: block;
    width: 100%;
    height: 100%;
    max-height: 380px;
    max-width: 380px;
}

.lista-galeria li a img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    max-height: 380px;
    max-width: 380px;
}
