#menu-gora
{
    width: 100%;
}

.menu-gora-1-poziom 
{
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0 64px;
}

.menu-gora-1-poziom li 
{

}

.menu-gora-1-poziom li a 
{
    text-decoration-color: transparent;
    color: black;
    font-size: 20px;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.menu-gora-1-poziom li a:after 
{
    content: '';
    display: none;
    width: 100%;
    height: 2px;
    background: black;
    position: absolute;
    bottom: -8px;
}

.menu-gora-1-poziom li:hover a:after 
{
    display: block;
    animation: myAnim 0.4s ease 0s 1 normal forwards;
}

@keyframes myAnim {
    0% {
      transform: scaleX(0);
    }
  
    100% {
      transform: scaleX(1);
    }
  }