body 
{
    padding: 0;
    padding-bottom: 0px;
    margin: 0;
    font-size-adjust: none;
    font-size: 16px;
    -webkit-text-size-adjust: none;
    overflow-x: hidden;
    transition: padding .5s linear;
    font-family: 'Poppins', sans-serif;
}

body * 
{
    box-sizing: border-box;
}

.strona 
{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.block
{
    margin: 0 auto!important;
}

.width100
{
    width: 100%;
    flex-basis: 100%;
}

.width1 
{
    width: 1245px;
}

main
{
    padding-bottom: 100px;
    background: url(../graphic/bottom-web.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.stopka-t 
{
    display: flex;
    justify-content: space-between;
}