.h2-text
{
    font-weight: 400;
    text-align: center;
    font-size: 28px;
    margin-top: 64px;
}

.o-nas
{
    background-image: url(../graphic/o-nas.jpeg);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center 150px;
}

.o-nas > span {
    display: block;
    text-align: center;
    font-weight: 300;
    padding: 0 126px;
    position: relative;
    font-size: 18px;
}

/* linia */

.o-nas > span:after
{
    content: url(../graphic/linia.png);
    position: absolute;
    bottom: -32px;
}

/* Lista o nas */

.lista-onas
{
    margin-top: 140px;
    margin-bottom: 86px;
}

.lista-onas-1
{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 0 32px;
}

.lista-onas-1 li 
{
    max-width: 30vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 14px 34px -6px rgba(215, 215, 215, 1);
    -moz-box-shadow: 0px 14px 34px -6px rgba(215, 215, 215, 1);
    box-shadow: 0px 0px 34px -6px rgba(215, 215, 215, 0.568);
}

.lista-onas-1 li h3 
{
    text-align: center;
    font-weight: 400;
}

.lista-onas-1 li span 
{
    display: block;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    padding: 0 40px;
}

/* ikony */

.lista-onas-1 li:first-child::before 
{
    content: '';
    background-image: url(../graphic/dos.png);
    display: block;
    height: 50px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}
.lista-onas-1 li:nth-child(2)::before 
{
    content: '';
    background-image: url(../graphic/natural.png);
    display: block;
    height: 50px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}
.lista-onas-1 li:last-child::before 
{
    content: '';
    background-image: url(../graphic/dos.png);
    display: block;
    height: 50px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}


/* Tła */

.void-img-tlo
{
    height: 65vh;
}
.void-img
{
    background-image: url(../graphic/tlo-1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}


/* Usługi */

.lista-uslugi
{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
}

.lista-uslugi li 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista-uslugi li span 
{
    text-align: center;
}

.lista-uslugi li a 
{

}


/* usługi ikony */

.uslugi-ikona-tlo
{
    width: 400px;
    height: 200px;
}

.uslugi-ikona-kosm
{
    background-image: url(../graphic/kosmetyka.jpeg);
    background-size: cover;
    width: 100%;
    height: 100%;
}

.uslugi-ikona-est
{
    background-image: url(../graphic/estetyczna.jpeg);
    background-size: cover;
    width: 100%;
    height: 100%;
}